@using Kobalt.Dashboard.Extensions
@using Microsoft.Extensions.Options
@using AspNet.Security.OAuth.Discord
@using Microsoft.AspNetCore.Components.Forms
@using Kobalt.Dashboard.Extensions
@using MudBlazor
@using MudBlazor.Utilities
@inject IOptions<IConfiguration> Config
@inject NavigationManager NavigationManager

<nav id="nav" class="sticky flex justify-between w-full px-5 lg:px-10 my-4 lg:text-xl font-bold">
    <script async src="Navbar.js"></script>
    <div class="flex gap-10">
        <div class="space-x-2.5 lg:space-x-10 self-center text-white">
            <span>Kobalt</span>
            <a href="/dashboard">Dashboard</a>
            <a>About</a>
            <a>Features</a>
            <a>Source</a>
        </div>
    </div>

    <div class="buttons flex flex-row gap-3">
        <MudButton Variant="Variant.Filled" Color="Color.Dark" Size="Size.Large" Class="cta-button bg-gray-500 rounded-md">Add to Server</MudButton>
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <MudMenu Color="Color.Primary" Dense="true" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                        <ActivatorContent>
                            <MudAvatar Rounded="true" Size="Size.Medium">
                                <MudImage Src="@context.User.GetAvatarUrl()"></MudImage>
                            </MudAvatar>                    
                        </ActivatorContent>
                        <ChildContent>
                            <MudText Class="px-2">
                                Signed in as <br/>
                                <span class="font-bold">@context.User.GetUsername()</span>
                            </MudText>
                            <MudDivider/>
                            <MudMenuItem Class="px-2">Lorem</MudMenuItem>
                            <MudMenuItem Class="px-2">Ipsum</MudMenuItem>
                            <MudDivider/>
                            <form action="api/auth/logout" method="post">
                                <button type="submit">
                                    <MudMenuItem Class="px-2">Not you? Sign out</MudMenuItem>
                                </button>
                                <input type="hidden" name="returnUrl" value="@NavigationManager.BaseUri"/>
                            </form>
                        </ChildContent>
                    </MudMenu>
                </Authorized>
                <NotAuthorized>
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="@NavigationManager.GetDiscordLoginUrl()" ButtonType="ButtonType.Submit" Size="Size.Large" Class="cta-button bg-green-500 rounded-md">Login with Discord</MudButton>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </div>
</nav>

@* This is temporary as isolated CSS doesn't currently work for mudblazor. *@

<style>
    .mud-popover-open {
        margin-top: 4px !important;
    }
    
    .mud-list.mud-list-padding {
        padding-bottom: 0;
    }
</style>