@using Kobalt.Dashboard.Extensions
@using Microsoft.Extensions.Options
@using AspNet.Security.OAuth.Discord
@using MudBlazor
@inject IOptions<IConfiguration> Config
@inject NavigationManager NavigationManager

<nav id="nav" class="sticky flex justify-between w-full px-5 lg:px-10 my-4 lg:text-xl font-bold">
    <script async src="Navbar.js"></script>
    <div class="flex gap-10">
        <span class="text-3xl self-center">Kobalt</span>
       
        <div class="space-x-2.5 lg:space-x-10 self-center text-white">
            <a href="#">Home</a>
            <a>About</a>
            <a>Features</a>
            <a>Source</a>
        </div>
    </div>

    <div class="buttons flex flex-row gap-3 items-center">
        <href class="vcenter pt-[0.375rem] bg-gray-500 p-2 pb-1 rounded-md">Add to Server</href>
        <AuthorizeView>
            <Authorized>
                <MudMenu @ref="_settingsItem">
                    <ActivatorContent>
                        <MudAvatar>
                            <MudImage Src="@context.User.GetAvatarUrl()" Class="h-9 rounded-lg"></MudImage>
                        </MudAvatar>                    
                    <ChildContent>
                        <MudText>
                            Signed in as <br/>
                            <span class="font-bold">@context.User.GetUsername()</span>
                        </MudText>
                        <MudDivider/>
                        <MudListItem>Profile</MudListItem>
                        <MudListItem>Settings</MudListItem>
                        <MudDivider/>
                        <MudListItem>Not you? Sign out</MudListItem>
                    </ChildContent>
                    </ActivatorContent>
                </MudMenu>
                @* <a>Hello @context.User.GetUsername()! (Not you?)</a> *@
            </Authorized>
            <NotAuthorized>
                <form action="api/auth/login" method="post" asp-antiforgery="false">
                    <button class="vcenter pt-[0.375rem] bg-green-500 p-2 pb-1 rounded-md">Login with Discord</button>
                    <AntiforgeryToken/>
                </form>
                <input type="hidden" name="returnUrl" value="@NavigationManager.Uri"/>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code
{
    private MudMenu _settingsItem;

    private void OnClick(MouseEventArgs _)
    {
        _settingsItem.CloseMenu();
    }
}
