<nav class="sticky bg-blue-400 flex w-full py-2 items-center justify-between lg:text-2xl">
    <div class="mx-2 flex flex-row justify-around">
        <span class="flex mx-5">Kobalt</span>
        <ul class="flex flex-row gap-4">
            <li>Home</li>
            <li>About</li>
            <li>Features</li>
        </ul>
    </div>
</nav>