<nav id="nav" class="sticky flex justify-between w-2/3 px-5 lg:px-10 my-4 lg:text-l font-bold">
    <script async src="Navbar.js"></script>
    <div class="flex gap-10">
        <span class="">Kobalt</span>
       
        <span class="space-x-2.5 lg:space-x-10 justify-center">
            <a href="#">Home</a>
            <a>About</a>
            <a>Features</a>
            <a>Source</a>
        </span>
    </div>

    <div class="buttons flex flex-row gap-3">
        <span><a class="bg-gray-500 pb-1 p-2 rounded-md">Add To Server</a></span>
        <span><a class="bg-green-500 pb-1 p-2 rounded-md">Login with Discord</a></span>
    </div>
    
    <button id="nav-icon" onclick="expandNav()"></button>
</nav>
