@using Kobalt.Dashboard.Extensions
@using Microsoft.Extensions.Options
@using AspNet.Security.OAuth.Discord
@inject IOptions<IConfiguration> Config
@inject NavigationManager NavigationManager

<nav id="nav" class="sticky flex justify-between w-full px-5 lg:px-10 my-4 lg:text-l font-bold">
    <script async src="Navbar.js"></script>
    <div class="flex gap-10">
        <span class="text-2xl">Kobalt</span>
       
        <div class="space-x-2.5 lg:space-x-10 self-center text-white">
            <a href="#">Home</a>
            <a>About</a>
            <a>Features</a>
            <a>Source</a>
        </div>
    </div>

    <div class="buttons flex flex-row gap-3 items-center">
        <a class="flex items-center leading-none bg-gray-500 p-2 rounded-md">Add To Server</a>
        <AuthorizeView>
            <Authorized>
                <a>Hello @context.User.GetUsername()! (Not you?)</a>
            </Authorized>
            <NotAuthorized>
                <form action="api/auth/login" method="post" asp-antiforgery="false">
                    <button class="bg-green-500 leading-none p-2 rounded-md">Login with Discord</button>
                    <AntiforgeryToken/>
                </form>
                <input type="hidden" name="returnUrl" value="@NavigationManager.Uri"/>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>
