@page "/manage/{GuildID:long}"
@using Remora.Discord.API.Abstractions.Objects
@using Kobalt.Dashboard.Components
@using Humanizer
@layout DashboardLayout

@if (_requestFailed)
{
    <ProblemView Message="Oh boy.">
        <MudText Typo="Typo.h5" Align="Align.Center">
            Looks like that guild either isn't available or the request failed. <br/>
            Refresh the page or try a different guild id.
        </MudText>
    </ProblemView>
}
else if (_guild is null)
{
    <MudContainer Style="align-items: center" MaxWidth="MaxWidth.Medium">
        <MudText Typo="Typo.h4">Loading some additional information...</MudText>
        <MudProgressLinear Color="Color.Tertiary" Indeterminate="true" Size="Size.Large" />
    </MudContainer>
}
else
{
    <MudText Typo="Typo.h3">Overview of @(_guild!.Name)</MudText>
    <div style="margin-top: 20px"></div>
    <MudGrid>
        <MudItem>
            <MudCard Width="300px" Height="200px" Elevation="10">
                <MudCardContent>
                    <MudText Typo="Typo.h5">Basic Info</MudText>
                    <MudGrid>
                        <MudItem>
                            <span style="color: dimgrey;">Members:</span>
                            <span class="font-bold">@(_guild?.ApproximateMemberCount.Map(c => c.ToMetric()).OrDefault("Unknown"))</span>
                        </MudItem>
                        <MudItem>
                            <span style="color: dimgrey;">Channels:</span>
                            <span class="font-bold">@(_channels?.Count.ToString() ?? "")</span>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem>
            <MudPaper Style="height: 200px;" Class="overflow-y-scroll">
                <MudList>
                    @foreach (var channel in _channels ?? Array.Empty<IChannel>())
                    {
                        <MudListItem>
                            <MudText Typo="Typo.h6">@channel.Name</MudText>
                        </MudListItem>
                    }
                </MudList>
            </MudPaper>
        </MudItem>
    </MudGrid>
}